@charset "utf-8";
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #fcfcfc;
}
#back {
  background-color: #55ff55;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}
#timer,
#start,
#stop,
#reset {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 1.5rem;
}
#start,
#stop,
#reset {
  cursor: pointer;
}
#timer {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#start:disabled,
#stop:disabled,
#reset:disabled {
  background-color: rgba(77, 77, 77, 0.5);
  color: rgba(255, 255, 255, 0.9);
  cursor: auto;
}
